<div class="jobs">
  <h2><%= @job.title %></h2>
  <p><%= @job.description %></p>
  <h4><%= @job.company %></h4>
  <button class="btn.btn-default"><%= link_to "Apply for Job", @job.url %>
</div>

<div class="links">
  <%= link_to "Back", root_path, class: "btn btn-sm btn-default" %>
  <%= link_to "Edit", edit_job_path(@job), class: "btn btn-sm btn-default" %>
  <%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-default" %>
</div>